{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center mb-3">{{ question.question_text }}</h1>

    {% if error_message %}
        <p class="alert alert-danger">
            <strong>{{ error_message }}</strong>
        </p>
    {% endif %}

    <div class="text-center">
        {% load static %}
        <img class="img-fluid rounded-lg mb-3" src="{% get_media_prefix %}{{ question.image }}" alt=">{{ question.question_text }}"/>
    </div>

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <div class="text-center">
            {% for choice in question.choice_set.all %}
                <div class="form-check form-check-inline">
                    <input
                        type="radio"
                        name="choice"
                        class="form-check-input"
                        id="choice{{ forloop.counter }}"
                        value="{{ choice.id }}"
                    />
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                </div>
            {% endfor %}
        </div>
        <input type="submit" value="NÄSTA FRÅGA" class="btn btn-success btn-lg btn-block mt-4" />
    </form>
{% endblock %}
