{% extends 'base.html' %}
{% block content %}
    <div class="card text-center mt-3">
        <div class="card-body">
            <h1>Slut</h1>
            <p>Tack för att du deltog!</p>
        </div>
    </div>

    <p class="mt-3">
        Se en <a class="" href="{% url 'polls:summary' %}">sammanställning</a> av resultaten.
    </p>

    <p class="mt-3">
        Statistik och frågor har installerats på offentliga platser i Stockholm av Akay & Olabo under sommaren 2022.
    </p>

    <p class="mt-3">
        Följ <a class="" href="https://instagram.com/nej.eller.ja">nej.eller.ja</a> på Instagram och dela gärna din bild och svar med taggen <a class="" href="https://www.instagram.com/explore/tags/nejellerja">#nejellerja</a>
    </p>
{% endblock %}
